USE [LeHuuHoangAnh_SU26]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 17/06/2026 23:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Registration](
	[UserName] [varchar](30) NOT NULL,
	[Password] [varchar](30) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[IsAdmin] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Registration] ([UserName], [Password], [LastName], [IsAdmin]) VALUES (N'U001', N'123', N'Anh', 1)
INSERT [dbo].[Registration] ([UserName], [Password], [LastName], [IsAdmin]) VALUES (N'U003', N'1234', N'Nhan', 1)
INSERT [dbo].[Registration] ([UserName], [Password], [LastName], [IsAdmin]) VALUES (N'U004', N'012', N'Dung', 1)


CREATE TABLE [dbo].[Orders](
	[OrderId]   [int] IDENTITY(1,1) NOT NULL,
	[ItemId]    [varchar](30) NOT NULL,
	[ItemName]  [nvarchar](100) NOT NULL,
	[Quantity]  [int] NOT NULL DEFAULT ((1)),
	[UnitPrice] [float] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
 
SET ANSI_PADDING OFF
GO
 
INSERT INTO [dbo].[Orders] ([ItemId], [ItemName], [Quantity], [UnitPrice]) VALUES (N'B001', N'C#',     2, 10.5)
INSERT INTO [dbo].[Orders] ([ItemId], [ItemName], [Quantity], [UnitPrice]) VALUES (N'B002', N'Java',   1, 11.5)
INSERT INTO [dbo].[Orders] ([ItemId], [ItemName], [Quantity], [UnitPrice]) VALUES (N'B003', N'Spring', 3, 12.5)
GO
 